<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title >Nivelar</title>
    
    <th:block th:replace="view/private/layout/style :: style"  ></th:block>
  	<script th:src="@{/plugins/sweetalerts/promise-polyfill.js}"></script>
    <link th:href="@{/plugins/sweetalerts/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/sweetalerts/sweetalert.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/components/custom-sweetalert.css}" rel="stylesheet" type="text/css" />
    
</head>
<body class="sidebar-noneoverflow">
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
       <th:block th:replace="view/private/layout/header :: header"></th:block>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <th:block th:replace="view/private/layout/navigation :: navigation"></th:block>
        
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing" >

                <div class="row layout-top-spacing" id="cancel-row">
                	
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                  
                        <div id="accordionBasic" class="widget-header">
					            <div class="row">
					                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
					                    <h4>Nivelacion</h4>
					                </div>
					                
					                <div class="col-lg-12 col-12 layout-spacing">
				                    	 <div class="statbox widget box box-shadow">
				                    	 	<div class="widget-header">
												
												<div class="row col-xl-12 col-md-12 col-sm-12 col-12">
								                	<div class="col-3" style="margin-top: 1.5rem!important; margin-bottom: 1.5rem!important;">
														<p>Estudio</p>
														<select class="form-control form-control-sm" id="estudio_anterior" >
															 <option value="1">Estudio LB</option>
								                             <option value="2">2022</option>
								                             <option value="3">2023</option>
								                             <option value="4">2024</option>
								                             <option value="5">2025</option>
								                             <option value="6">2026</option>
								                             <option value="7">2027</option>
														</select>
													</div>
								                    <div class="col-3" style="margin-top: 1.5rem!important; margin-bottom: 1.5rem!important;">
														
													</div>
													<div class="col-3" style="margin-top: 1.5rem!important; margin-bottom: 1.5rem!important;">
														<p>Estudio a nivelar</p>
														<select class="form-control form-control-sm" id="estudio_nivelar" >
															 <option value="1">Estudio LB</option>
								                             <option value="2">2022</option>
								                             <option value="3">2023</option>
								                             <option value="4">2024</option>
								                             <option value="5">2025</option>
								                             <option value="6">2026</option>
								                             <option value="7">2027</option>
														</select>
													</div>
												</div>

								            	<div class="row col-xl-12 col-md-12 col-sm-12 col-12">
													<div class="col-3"></div>
								                	<div class="col-3">
														<p></p></br>
														<button class="btn  mb-2" style="background-color:#c63a37;color:white;" onclick="nivelar()">Nivelar</button>
													</div>
													<div class="col-3"></div>
								                </div>
								            	</br></br>
				                    		</div>	
						                </div>
				                    </div>
				                        
					               
					                
					            </div>
					        </div> 
                    </div>

                </div>
				
				<th:block th:replace="view/private/layout/footer :: footer"></th:block>
            </div>
            
            
            
          
             </div>
            
            
            
            
        </div>
        <!--  END CONTENT AREA  -->


    </div>
    <!-- END MAIN CONTAINER -->

   <th:block th:replace="view/private/layout/scripts :: javascript" ></th:block>
    <script th:src="@{/plugins/sweetalerts/sweetalert2.min.js}"></script>
    <script th:src="@{/plugins/sweetalerts/custom-sweetalert.js}"></script>
 	<script type="text/javascript">
 	var token = $("input[name='_csrf']").val();
 	var header = "X-CSRF-TOKEN";
	function nivelar(){
		swal({
		      title: '¿Seguro deseas nivelar el estudio?',
		      text: "",
		      type: 'warning',
		      showCancelButton: true,
		      confirmButtonText: 'Nivelar',
		      padding: '2em'
		    }).then(function(result) {
		      if (result.value) {
		    	  
		    	    var data=JSON.stringify({
		    			"idEncuestaAnterior": $("#estudio_anterior").val(),
		    			"idEncuestaNivelar": $("#estudio_nivelar").val(),
		    		});
		    			
		    		
		    		$.ajax({
		    			contentType : "application/json",
		    			url : "/nivelarController/nivelar",
		    			beforeSend : function(xhr) {
		    				xhr.setRequestHeader(header, token)
		    			},
		    			type : 'POST',
		    			data : data,
		    			dataType : 'json',
		    			success : function(data) {
		    				console.log(data);
		    				$(data).each(function(i, v) { 
		    					
		    				})
		    			},
		    			error : function(jqXHR, textStatus, errorThrown) {//jqXHR, textStatus, errorThrown
		    				console.log("error");
		    				if (jqXHR.status === 0) {
		    					console.log('Not connect: Verify Network.');
		    				} else if (jqXHR.status == 404) {
		    					console.log('Requested page not found [404]');
		    				} else if (jqXHR.status == 500) {
		    					console.log('Internal Server Error [500].');
		    				} else if (textStatus === 'parsererror') {
		    					console.log('Requested JSON parse failed.');
		    				} else if (textStatus === 'timeout') {
		    					console.log('Time out error.');
		    				} else if (textStatus === 'abort') {
		    					console.log('Ajax request aborted.');
		    				} else {
		    					console.log('Uncaught Error: '+ jqXHR.responseText);
		    				}
		    			}
		    		})
		    	  	
		    	 }
		      })
		
	}
 	</script>
</body>
</html>