<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title >Lista</title>
    
    <th:block th:replace="view/private/layout/style :: style"  ></th:block>
    
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/table/datatable/datatables.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/forms/theme-checkbox-radio.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/table/datatable/dt-global_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/table/datatable/custom_dt_custom.css}">
  
  	<script th:src="@{/plugins/sweetalerts/promise-polyfill.js}"></script>
    <link th:href="@{/plugins/sweetalerts/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/sweetalerts/sweetalert.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/components/custom-sweetalert.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/elements/alert.css}">
</head>
<body class="sidebar-noneoverflow">
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
       <th:block th:replace="view/private/layout/header :: header"></th:block>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <th:block th:replace="view/private/layout/navigation :: navigation"></th:block>
        
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing" >

                <div class="row layout-top-spacing" id="cancel-row">
                	
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                  
                        <div id="accordionBasic" class="widget-header">
					            <div class="row">
					                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
					                    <h4>Edicion Masiva</h4>
					                </div>
					                
					                <div class="col-lg-12 col-12 layout-spacing">
				                    	 <div class="statbox widget box box-shadow">
				                    	 	<div class="widget-header">
												
												<div class="row col-xl-12 col-md-12 col-sm-12 col-12">
								                	<div class="col-3" style="margin-top: 1.5rem!important; margin-bottom: 1.5rem!important;">
														<p>Cuestionario</p>
														<select class="form-control form-control-sm" id="cat_1_preg_encuesta" >
															 <option value="1">Estudio LB</option>
								                             
								                             <option value="2">2023</option>
								                             <option value="3">2024</option>
								                             <option value="4">2025</option>
								                             <option value="5">2026</option>
								                             <option value="6">2027</option>
														</select>
													</div>
								                    <div class="col-3" style="margin-top: 1.5rem!important; margin-bottom: 1.5rem!important;">
														<p>Comunidad</p>
														<select class="form-control form-control-sm" id="cat_1_preg_comunidad" onchange="comunidad()">
															<option value="0">Todas</option>
														 	<option value="2">La Encañada</option>
															<option value="1">Michiquillay</option>
														</select>
													</div>
													<div class="col-3" style="margin-top: 1.5rem!important; margin-bottom: 1.5rem!important;">
														<p>Sector/Anexo</p>
														<select class="form-control form-control-sm" id="cat_1_preg_sector">
															<option value="0">Todas</option>
														</select>
													</div>
													<div class="col-3" style="margin-top: 1.5rem!important; margin-bottom: 1.5rem!important;">
														<p></p><br>
														<button class="btn btn-primary mb-2" onclick="actualizar()">Actualizar</button>
													</div>
												</div>

								            	
								            	<div class="widget-content widget-content-area br-12">
						                            <table id="tablaUsuario" class="table dt-table-hover" style="width:100%">
						                                <thead>
						                                    <tr>
						                                        <th>Nombre comunero</th>
						                                        <th>Datos extra</th>
						                                        <th>Estado Civil</th>
						                                        <th>Actualmente</th>
						                                        <th>Grado estudio</th>
						                                        <th class="no-content">Acciones</th>
						                                    </tr>
						                                </thead>
						                                <tbody>
							                                   
						                                </tbody>
						                                
						                            </table>
						                        </div>
								            
				                    		</div>	
						                </div>
				                    </div>
				                        
					               	
					                
					            </div>
					        </div> 
                    </div>

                </div>
				
				<th:block th:replace="view/private/layout/footer :: footer"></th:block>
				
				   
		            <div class="modal fade login-modal" id="modalEditarComunero"  tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		               <div class="modal-dialog" role="document">
		                 <div class="modal-content">
		
		                   <div class="modal-header" id="loginModalLabel">
		                     <h4 class="modal-title" id="modal_titulo">Editar comunero</h4>
		                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                       <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
		                     </button>
		                   </div>
		                   <div class="modal-body">
		                     <p style="color:black">Datos del comunero</p>
		                    
		                    	<input id="usuario_idUsuario" style="display:none">
		                    	
			                       <div class="form-group">
			                         <input type="text" class="form-control form-control-sm"  placeholder="Nombre" id="usuario_nombre" maxlength="50">
			                       </div>
		                       
			                     <div class="form-row ">  
			                       <div class="form-group col-6">
			                         <input type=text class="form-control form-control-sm" placeholder="A. Paterno" style="padding-left:15px" id="usuario_aPaterno" maxlength="50">
			                       </div>
			                       
			                        <div class="form-group col-6">
			                         <input type=text class="form-control form-control-sm" placeholder="A. Materno" style="padding-left:15px" id="usuario_aMaterno" maxlength="50">
			                       </div>
			                     </div>
			                     
			                     <div class="form-row " style="height:25px;">
			                       <div class="form-group col-6"><p>Genero</p> </div>
			                       <div class="form-group col-6"><p>F. Nacimiento</p> </div>
			                     </div>
			                     <div class="form-row ">
			                       <div class="form-group col-6">
			                         <select class="form-control form-control-sm" id="usuario_sexo">
		                                 <option value="0">Masculino</option>
		                                 <option value="1">Femenino</option>
		                             </select>
			                       </div>
			                        <div class="form-group col-6">
			                         <input type=date class="form-control form-control-sm"  id ="usuario_nacimiento" placeholder="F. Nacimiento" style="padding-left:0px;padding-right:0px">
			                       </div>
			                     </div>
			                     <div class="form-row " style="height:25px;">
			                       <div class="form-group col-6"><p>Estudios</p> </div>
			                       <div class="form-group col-6"><p>Vivienda(Actualmente)</p> </div>
			                     </div>
		                   		  <div class="form-row ">
			                       <div class="form-group col-6">
			                         <select class="form-control form-control-sm" id="usuario_estudio">
		                                <option value="806">Ninguno </option>
										<option value="807">Inicial </option>
										<option value="808">Primaria </option>
										<option value="809">Secundaria </option>
										<option value="810">Superior universitario </option>
										<option value="811">Superior no universitario </option>
										<option value="812">Posgrado </option>
										<option value="813">Maestría </option>
										<option value="814">Doctorado </option>
		                             </select>
			                       </div>
			                        <div class="form-group col-6">
			                         <input type=text class="form-control form-control-sm"  id ="usuario_residencia" style="padding-left:15px"  maxlength="50">
			                       </div>
			                     </div>   
			                     
			                     <div class="form-row " style="height:25px;">
			                       <div class="form-group col-6"><p>Estado civil</p> </div>
			                       <div class="form-group col-6"><p>Tenencia Vivienda</p> </div>
			                     </div>
		                   		  <div class="form-row ">
			                       <div class="form-group col-6">
			                         <select class="form-control form-control-sm" id="usuario_estado_civil">
		                                 <option value="815">Soltero </option>
										<option value="816">Casado </option>
										<option value="817">Divorciado </option>
										<option value="818">Viudo </option>
										<option value="819">Conviviente </option>
										<option value="820">Separado </option>
		                             </select>
			                       </div>
			                        <div class="form-group col-6">
			                          <select class="form-control form-control-sm" id="usuario_tenencia_vivienda">
		                                 <option value="856">Propia </option>
										<option value="857">Alquilada </option>
										<option value="858">Cedida por la comunidad </option>
										<option value="859">Cedida por un familiar </option>
										<option value="860">Cedida por una institución </option>
										<option value="861">Posesión/invasión </option>
										<option value="862">Otro </option>
		                              </select>
			                       </div>
			                     </div> 
			                     
			                     <div class="form-row " style="height:25px;">
			                       <div class="form-group col-6"><p>Tipo alumbrado</p> </div>
			                       <div class="form-group col-6"><p>Tipo abastecimiento</p> </div>
			                     </div>
		                   		  <div class="form-row ">
			                       <div class="form-group col-6">
			                         <select class="form-control form-control-sm" id="usuario_tipo_alumbrado">
		                                 <option value="892">Energía eléctrica</option>
										<option value="893">Panel solar</option>
										<option value="894">Gas</option>
										<option value="895">Velas</option>
										<option value="896">Mecheros</option>
										<option value="897">Otros</option>
		                             </select>
			                       </div>
			                        <div class="form-group col-6">
			                          <select class="form-control form-control-sm" id="usuario_tipo_abastecimiento">
		                                 <option value="898">Red pública</option>
										<option value="899">Cisterna</option>
										<option value="900">Pozo</option>
										<option value="901">Río</option>
										<option value="902">Manantial/puquio</option>
										<option value="903">Otros</option>
		                              </select>
			                       </div>
			                     </div> 
			                     
			                     
			                     <div class="form-row " style="height:25px;">
			                       <div class="form-group col-6"><p>Tipo Sanitario</p> </div>
			                       <div class="form-group col-6"><p>¿Busca trabajo?</p> </div>
			                     </div>
		                   		  <div class="form-row ">
			                       <div class="form-group col-6">
			                         <select class="form-control form-control-sm" id="usuario_tipo_sanitario">
		                                 <option value="910">Inodoro</option>
										<option value="911">Letrina con tasa campesina</option>
										<option value="912">Letrina con pozo ciego</option>
										<option value="913">No tiene</option>
										<option value="914">Otros</option>
		                             </select>
			                       </div>
			                        <div class="form-group col-6">
			                          <select class="form-control form-control-sm" id="usuario_busca_trabajo">
		                                 <option value="1008">No</option>
										<option value="1009">Si</option>
		                              </select>
			                       </div>
			                     </div> 
			                         
			                         <div class="form-row " style="height:25px;">
			                       <div class="form-group col-6"><p>¿Tiene apoyo economico?</p> </div>
			                       <div class="form-group col-6"><p></p> </div>
			                     </div>
		                   		  <div class="form-row ">
			                       <div class="form-group col-6">
			                         <select class="form-control form-control-sm" id="usuario_apoyo_economico">
		                                 <option value="1010">Pensión 65 </option>
										<option value="1011">Programa Juntos </option>
										<option value="1012">Otro programa </option>
										<option value="1013">Familia u otro </option>
										<option value="1014">No recibe </option>
		                             </select>
			                       </div>
			                        <div class="form-group col-6">
			                          
			                       </div>
			                     </div> 
			                         
			                      <button type="button" class="btn mt-2 mb-2 btn-block" style="background-color:#c63a37;color:white;" id="boton">Guardar </button>
			                     </div>
		                    
		                       
		                       
		                     
		                   </div>
		                 
		                 </div>
		               </div>
		             </div>
            </div>
            
            
            	
          
             </div>
            
            
            
            
    </div>
    <!--  END CONTENT AREA  -->


    <!-- END MAIN CONTAINER -->

   <th:block th:replace="view/private/layout/scripts :: javascript" ></th:block>
   <script th:src="@{/plugins/table/datatable/datatables.js}"></script>
    	<script th:src="@{/plugins/sweetalerts/sweetalert2.min.js}"></script>
    <script th:src="@{/plugins/sweetalerts/custom-sweetalert.js}"></script>
 	<script th:inline="javascript">
 	var token = $("input[name='_csrf']").val();
 	var header = "X-CSRF-TOKEN";
	var lista = [[${lista}]];
 	console.log(lista);
 	
 	
 	$(lista).each(function(i, v) { 
 		
		$("#tablaUsuario").append(''+
	 			'<tr>'+
	 			    '<td>'+
	 					'<div class="td-content customer-name"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>'+
	 						'<span id="'+v.id+'_nombre_completo">Luke Ivory</span>'+
	 					'</div>'+
	 			    '</td>'+
	 			    '<td>'+
	 			   		'<div class="td-content product-brand text-primary" id="'+v.id+'_dni"></div>'+
	 			   		'<div class="td-content product-brand text-primary" id="'+v.id+'_fecha_nacimiento"></div>'+
	 			    '</td>'+
	 			   '<td>'+
			   		'<div class="td-content product-brand text-primary" id="'+v.id+'_civil"></div>'+
			    	'</td>'+
	 			    '<td>'+
	 			   		'<div class="td-content product-brand text-primary" id="'+v.id+'_actual"></div>'+
	 			    '</td>'+
	 			    '<td>'+
	 			   		'<div class="td-content product-brand text-primary" id="'+v.id+'_grado_estudio"></div>'+
	 			    '</td>'+
	 			    '<td class="text-center">'+
					    '<ul class="table-controls">'+
					        '<li><a onclick="editarUsuario('+v.id+')" href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>'+
					        '<li><a onclick="eliminarUsuario('+v.id+')" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a></li>'+
					    '</ul>'+
					'</td>'+
	 			'</tr>'+
	 				'');
	 		
			//$("#"+v.id+"_tabla_genero").text((lista[i][2])==0?'Masculino':'Femenino');
	 		$("#"+v.id+"_nombre_completo").text(v.nombre+" "+v.apellidoPaterno+" "+v.apellidoMaterno);
	 		$("#"+v.id+"_dni").text("DNI: "+v.dni);
	 		$("#"+v.id+"_fecha_nacimiento").text("FN: "+v.fechaNacimiento);
	 		$("#"+v.id+"_civil").text(v.idEstadoCivil);
	 		$("#"+v.id+"_actual").text(v.actualmente);
	 		$("#"+v.id+"_grado_estudio").text(v.idGradoEstudio);
	});
 	
	function limpiar(){
		$("#usuario_residencia").val("");
		$("#usuario_estudio").val("");
		$("#usuario_nacimiento").val("");
		$("#usuario_sexo").val("");
		$("#usuario_aMaterno").val("");
		$("#usuario_aPaterno").val("");
		$("#usuario_nombre").val("");
		$("#usuario_estado_civil").val("");
		$("#usuario_tenencia_vivienda").val("");
		$("#usuario_tipo_alumbrado").val("");
		$("#usuario_tipo_abastecimiento").val("");
		$("#usuario_tipo_sanitario").val("");
		$("#usuario_busca_trabajo").val("");
		$("#usuario_apoyo_economico").val("");
	}
 	
 	
	function comunidad(){
		
		console.log($("#cat_1_preg_comunidad").val());
		console.log($("#cat_1_preg_sector").val());
		if($("#cat_1_preg_comunidad").val()=="0"){
			$("#cat_1_preg_sector").empty();
			$("#cat_1_preg_sector").append('<option value="0">Todas</option>');
		}
		else if($("#cat_1_preg_comunidad").val()=="2"){
			$("#cat_1_preg_sector").empty();
			$("#cat_1_preg_sector").append(''+
					'<option value="0">Todas</option>'+
					'<option value="1">La Encañada - Rodacocha</option>'+
					'<option value="2">La Encañada - Sogoron alto</option>'+
					'<option value="3">La Encañada - Rio grande</option>'+
					'<option value="4">La Encañada - Pedregal</option>'+
					'<option value="5">La Encañada - Chamcas</option>'+
					'')	;
		}
		else if($("#cat_1_preg_comunidad").val()=="1"){
			$("#cat_1_preg_sector").empty();
			$("#cat_1_preg_sector").append(''+
					'<option value="0">Todas</option>'+
					'<option value="1">Michiquillay - Pampa Grande</option>'+
					'<option value="2">Michiquillay - Quinuayoc</option>'+
					'<option value="3">Michiquillay - Progreso la toma</option>'+
					'<option value="4">Michiquillay - Quinuamayo alto</option>'+
					'<option value="5">Michiquillay - Tuyupampa</option>'+
					'<option value="6">Michiquillay - Quinuamayo bajo</option>'+
					'<option value="7">Michiquillay - Usnio</option>'+
					'<option value="8">Michiquillay - Palpata</option>'+
					'<option value="9">Michiquillay - Chimchim</option>'+
					'<option value="10">Michiquillay - Punre</option>'+
					'<option value="11">Michiquillay - Michiquillay</option>'+
					'');
		}
		
	}
	//para que cargue automatico
	$("#cat_1_preg_comunidad").val("1");
	comunidad();
	$("#cat_1_preg_sector").val("1");
	
	$('#tablaUsuario').DataTable({
        "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
    "<'table-responsive'tr>" +
    "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
        "oLanguage": {
            "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
            "sInfo": "Mostrando pagina _PAGE_ de _PAGES_",
            "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
            "sSearchPlaceholder": "Buscar...",
           "sLengthMenu": "Resultados :  _MENU_",
        },
        "stripeClasses": [],
        "lengthMenu": [7, 10, 20, 50],
        "pageLength": 7 
    });
	
	
	
	function actualizar (){
		var data=JSON.stringify({
			"idEncuesta": $("#cat_1_preg_encuesta").val(),
			"comunidad": $("#cat_1_preg_comunidad").val(),
			"sector": $("#cat_1_preg_sector").val(),
		});
			
		$.ajax({
			contentType : "application/json",
			url : "/comuneroController/actualizarTabla",
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token)
			},
			type : 'POST',
			data : data,
			dataType : 'json',
			success : function(data) {
				console.log(data);

				$('#tablaUsuario').dataTable().fnClearTable();
				$("#tablaUsuario").DataTable().destroy();
				$(data).each(function(i, v) { 
					
					/*$("#tablaUsuario").fnAddData([
						'<div class="td-content customer-name"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg><span id="'+v.id+'_nombre_completo">Luke Ivory</span></div>',
						'<div class="td-content product-brand text-primary" id="'+v.id+'_dni"></div><div class="td-content product-brand text-primary" id="'+v.id+'_fecha_nacimiento"></div>',
						'<div class="td-content product-brand text-primary" id="'+v.id+'_residencia"></div>',
						'<div class="td-content product-brand text-primary" id="'+v.id+'_grado_estudio"></div>',
						'<ul class="table-controls"><li><a onclick="editarUsuario('+v.id+')" href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li><li><a onclick="eliminarUsuario('+v.id+')" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a></li></ul>'
					]);*/
					
					$("#tablaUsuario").append(''+
				 			'<tr>'+
				 			    '<td>'+
				 					'<div class="td-content customer-name"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>'+
				 						'<span id="'+v.id+'_nombre_completo">Luke Ivory</span>'+
				 					'</div>'+
				 			    '</td>'+
				 			    '<td>'+
				 			   		'<div class="td-content product-brand text-primary" id="'+v.id+'_dni"></div>'+
				 			   		'<div class="td-content product-brand text-primary" id="'+v.id+'_fecha_nacimiento"></div>'+
				 			    '</td>'+
				 			   '<td>'+
						   			'<div class="td-content product-brand text-primary" id="'+v.id+'_civil"></div>'+
						    	'</td>'+
				 			    '<td>'+
				 			   		'<div class="td-content product-brand text-primary" id="'+v.id+'_actual"></div>'+
				 			    '</td>'+
				 			    '<td>'+
				 			   		'<div class="td-content product-brand text-primary" id="'+v.id+'_grado_estudio"></div>'+
				 			    '</td>'+
				 			    '<td class="text-center">'+
								    '<ul class="table-controls">'+
								        '<li><a onclick="editarUsuario('+v.id+')" href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>'+
								        '<li><a onclick="eliminarUsuario('+v.id+')" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a></li>'+
								    '</ul>'+
								'</td>'+
				 			'</tr>'+
				 				'');
				 		
						//$("#"+v.id+"_tabla_genero").text((lista[i][2])==0?'Masculino':'Femenino');
				 		$("#"+v.id+"_nombre_completo").text(v.nombre+" "+v.apellidoPaterno+" "+v.apellidoMaterno);
				 		$("#"+v.id+"_dni").text("DNI: "+v.dni);
				 		$("#"+v.id+"_fecha_nacimiento").text("FN: "+v.fechaNacimiento);
				 		$("#"+v.id+"_actual").text(v.actualmente);
				 		$("#"+v.id+"_grado_estudio").text(v.idGradoEstudio);
				 		$("#"+v.id+"_civil").text(v.idEstadoCivil);
					});
				
			},
			error : function(jqXHR, textStatus, errorThrown) {//jqXHR, textStatus, errorThrown
				console.log("error");
				if (jqXHR.status === 0) {
					console.log('Not connect: Verify Network.');
				} else if (jqXHR.status == 404) {
					console.log('Requested page not found [404]');
				} else if (jqXHR.status == 500) {
					console.log('Internal Server Error [500].');
				} else if (textStatus === 'parsererror') {
					console.log('Requested JSON parse failed.');
				} else if (textStatus === 'timeout') {
					console.log('Time out error.');
				} else if (textStatus === 'abort') {
					console.log('Ajax request aborted.');
				} else {
					console.log('Uncaught Error: '+ jqXHR.responseText);
				}
			},
			complete: function(data) {
				$('#tablaUsuario').DataTable({
			        "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
				    "<'table-responsive'tr>" +
				    "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
				        "oLanguage": {
				            "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
				            "sInfo": "Mostrando pagina _PAGE_ de _PAGES_",
				            "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
				            "sSearchPlaceholder": "Buscar...",
				           "sLengthMenu": "Resultados :  _MENU_",
				        },
				        "stripeClasses": [],
				        "lengthMenu": [7, 10, 20, 50],
				        "pageLength": 7 
				    });
	        }
		})
	}
	
	function editarUsuario(idPersona){
		$("#modalEditarComunero").modal("show");
		limpiar();
		var data=JSON.stringify({
			"idPersona": idPersona,
		});
		
		$.ajax({
			contentType : "application/json",
			url : "/comuneroController/cargarcomunero",
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token)
			},
			type : 'POST',
			data : data,
			dataType : 'json',
			success : function(data) {
				console.log(data);
				$(data).each(function(i, v) {
					$("#usuario_residencia").val(v.actualmente);
					$("#usuario_estudio").val(v.idGradoEstudio);
					$("#usuario_nacimiento").val(v.fechaNacimiento);
					$("#usuario_sexo").val((v.sexo)?'1':'0');
					$("#usuario_aMaterno").val(v.apellidoMaterno);
					$("#usuario_aPaterno").val(v.apellidoPaterno);
					$("#usuario_nombre").val(v.nombre);
					$("#boton").attr('onclick', 'guardar('+v.id+')');
					
					$("#usuario_estado_civil").val(v.estadoCivil);
					$("#usuario_tenencia_vivienda").val(v.idTenenciaVivienda);
					$("#usuario_tipo_alumbrado").val(v.idTipoAlumbrado);
					$("#usuario_tipo_abastecimiento").val(v.idTipoAbastecimiento);
					$("#usuario_tipo_sanitario").val(v.idServicioSanitario);
					$("#usuario_busca_trabajo").val(v.idBucaTrabajo);
					$("#usuario_apoyo_economico").val(v.idApoyoEconomico);
					
					console.log(v.fechaNacimiento)
				})
			},
			error : function(jqXHR, textStatus, errorThrown) {//jqXHR, textStatus, errorThrown
				console.log("error");
				if (jqXHR.status === 0) {
					console.log('Not connect: Verify Network.');
				} else if (jqXHR.status == 404) {
					console.log('Requested page not found [404]');
				} else if (jqXHR.status == 500) {
					console.log('Internal Server Error [500].');
				} else if (textStatus === 'parsererror') {
					console.log('Requested JSON parse failed.');
				} else if (textStatus === 'timeout') {
					console.log('Time out error.');
				} else if (textStatus === 'abort') {
					console.log('Ajax request aborted.');
				} else {
					console.log('Uncaught Error: '+ jqXHR.responseText);
				}
			}
		})
	}
	
	function guardar(idPersona){
		
		if($("#usuario_residencia").val()=="" ||
				$("#usuario_estudio").val()==null ||
				$("#usuario_nacimiento").val()=="" ||
				$("#usuario_sexo").val()==null ||
				$("#usuario_aMaterno").val()=="" ||
				$("#usuario_aPaterno").val()=="" ||
				$("#usuario_nombre").val()=="" ||
				$("#usuario_estado_civil").val()==null ||
				$("#usuario_tenencia_vivienda").val()==null ||
				$("#usuario_tipo_alumbrado").val()==null ||
				$("#usuario_tipo_abastecimiento").val()==null ||
				$("#usuario_tipo_sanitario").val()==null ||
				$("#usuario_busca_trabajo").val()==null ||
				$("#usuario_apoyo_economico").val()==null ){
			swal("","Complete todos los campos", "error")
			//alert("Complete todos los campos")
		}
		else{
			var data=JSON.stringify({
				"idPersona": idPersona,
				"residencia":$("#usuario_residencia").val(),
				"idGradoEstudio":$("#usuario_estudio").val(),
				"fechaNacimiento":$("#usuario_nacimiento").val(),
				"sexo":$("#usuario_sexo").val(),
				"apellidoMaterno":$("#usuario_aMaterno").val(),
				"apellidoPaterno":$("#usuario_aPaterno").val(),
				"nombre":$("#usuario_nombre").val(),
				
				"estadoCivil": $("#usuario_estado_civil").val(),
				"idTenenciaVivienda": $("#usuario_tenencia_vivienda").val(),
				"idTipoAlumbrado": $("#usuario_tipo_alumbrado").val(),
				"idTipoAbastecimiento": $("#usuario_tipo_abastecimiento").val(),
				"idServicioSanitario": $("#usuario_tipo_sanitario").val(),
				"idBucaTrabajo": $("#usuario_busca_trabajo").val(),
				"idApoyoEconomico": $("#usuario_apoyo_economico").val(),

			});
			$("#modalEditarComunero").modal("hide");
			$.ajax({
				contentType : "application/json",
				url : "/comuneroController/guardarComunero",
				beforeSend : function(xhr) {
					xhr.setRequestHeader(header, token)
				},
				type : 'POST',
				data : data,
				dataType : 'json',
				success : function(data) {
					console.log(data);
					$(data).each(function(i, v) {
						actualizar();
					})
				},
				error : function(jqXHR, textStatus, errorThrown) {//jqXHR, textStatus, errorThrown
					console.log("error");
					if (jqXHR.status === 0) {
						console.log('Not connect: Verify Network.');
					} else if (jqXHR.status == 404) {
						console.log('Requested page not found [404]');
					} else if (jqXHR.status == 500) {
						console.log('Internal Server Error [500].');
					} else if (textStatus === 'parsererror') {
						console.log('Requested JSON parse failed.');
					} else if (textStatus === 'timeout') {
						console.log('Time out error.');
					} else if (textStatus === 'abort') {
						console.log('Ajax request aborted.');
					} else {
						console.log('Uncaught Error: '+ jqXHR.responseText);
					}
				}
			})	
		}
	}
	
	function eliminarUsuario(idPersona){
		swal({
		      title: '¿Seguro deseas eliminar?',
		      text: "No habra reversion",
		      type: 'warning',
		      showCancelButton: true,
		      confirmButtonText: 'Eliminar',
		      padding: '2em'
		    }).then(function(result) {
		      if (result.value) {
		    	  var data=JSON.stringify({
		    		  "idPersona": idPersona,
		    		});
		    		
		    		
		    		$.ajax({
		    			contentType : "application/json",
		    			url : "/comuneroController/eliminarComunero",
		    			beforeSend : function(xhr) {
		    				xhr.setRequestHeader(header, token)
		    			},
		    			type : 'POST',
		    			data : data,
		    			dataType : 'json',
		    			success : function(data) {
		    				console.log(data);
		    				$(data).each(function(i, v) { 
		    					swal("","Eliminado correctamente", "success");
		    					actualizar();
		    				})
		    			},
		    			error : function(jqXHR, textStatus, errorThrown) {//jqXHR, textStatus, errorThrown
		    				console.log("error");
		    				if (jqXHR.status === 0) {
		    					console.log('Not connect: Verify Network.');
		    				} else if (jqXHR.status == 404) {
		    					console.log('Requested page not found [404]');
		    				} else if (jqXHR.status == 500) {
		    					console.log('Internal Server Error [500].');
		    				} else if (textStatus === 'parsererror') {
		    					console.log('Requested JSON parse failed.');
		    				} else if (textStatus === 'timeout') {
		    					console.log('Time out error.');
		    				} else if (textStatus === 'abort') {
		    					console.log('Ajax request aborted.');
		    				} else {
		    					console.log('Uncaught Error: '+ jqXHR.responseText);
		    				}
		    			}
		    		})
		      }
		    })
	}
	
 	</script>
</body>
</html>