<th:block class="footer" th:fragment="footer">
	<div class="footer-wrapper">
	     <div class="footer-section f-section-1">
	         <p class="">Copyright &#169 Empresa, All rights reserved.</p>
	     </div>
	     
	 </div>
 </th:block>