 <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme"  th:fragment="navigation" style="z-index: 5000;">
            
            <nav id="sidebar">
                <div class="profile-info">
                    <figure class="user-cover-image"></figure>
                    <div class="user-info">

                        <img th:if="${genero}==false" th:src="@{/assets/img/boy.png}"  alt="avatar">
                        <img th:if="${genero}==true" th:src="@{/assets/img/girl.png}"  alt="avatar">
                        <h6 class="" th:text="${nombreUser}"></h6>
                        <p class="" th:text="${rol}"></p>
                    </div>
                </div>
                <div class="shadow-bottom"></div>
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu " sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/newIndex/0}" aria-expanded="true" class="dropdown-toggle" style="background-color:#c63a37">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                <span>Dashboard</span>
                            </div>
                            
                        </a>
                        
                    </li>


                    <li class="menu menu-heading" >
                        <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>Menu</span></div>
                    </li>

                    <li class="menu">
                        <a th:href="@{/index}" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                                <span>Estudio</span>
                            </div>
                        </a>
                    </li>

					
                     <li class="menu" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/usuarioController/listar}" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <span>Usuario</span>
                            </div>
                        </a>
                    </li>
                     
                     <li class="menu" sec:authorize="hasRole('ROLE_SUPERVISOR') or hasRole('ROLE_ADMIN') ">
                        <a th:href="@{/excelController/comunero}" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
                                <span>Reporte excel</span>
                            </div>
                        </a>
                    </li> 
                    
                    <li class="menu" sec:authorize="hasRole('ROLE_SUPERVISOR')  or hasRole('ROLE_ADMIN') ">
                        <a href="https://drive.google.com/drive/folders/1Tjkgke0qXJl7tn4eyVrtYEXdxETL_2D7" target="_blank" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
                                <span>SPSS</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu" sec:authorize="hasRole('ROLE_SUPERVISOR') or hasRole('ROLE_ADMIN')">
                        <a href="https://drive.google.com/drive/folders/1Tjkgke0qXJl7tn4eyVrtYEXdxETL_2D7" target="_blank" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                                <span>Encuestas digitalizadas</span>
                            </div>
                        </a>
                    </li>
                   
                    <li class="menu" >
                        <a th:href="@{/comuneroController/listar}" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                <span>Edicion masiva </span>
                            </div>
                        </a>
                    </li>
                     
                </ul>
                
            </nav>

        </div>
        <!--  END SIDEBAR  -->