 <th:block th:fragment="javascript">
 <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script th:src="@{/assets/js/libs/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script th:src="@{/plugins/highlight/highlight.pack.js}"></script>
    <script th:src="@{/assets/js/custom.js}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
</th:block>