<th:block th:fragment="style">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}"/>
    <link th:href="@{/assets/css/loader.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/assets/js/loader.js}"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/plugins.css}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
</th:block>