<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title >Dashboard</title>
    
    <th:block th:replace="view/private/layout/style :: style"  ></th:block>
    <link th:href="@{/plugins/animate/animate.css}" rel="stylesheet" type="text/css" />
 	<link th:href="@{/plugins/apex/apexcharts.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/dashboard/dash_2.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/elements/custom-tree_view.css}" rel="stylesheet" type="text/css" />
	<script th:src="@{/plugins/sweetalerts/promise-polyfill.js}"></script>
    <link th:href="@{/plugins/sweetalerts/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/sweetalerts/sweetalert.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/components/custom-sweetalert.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/autocomplete/autocomplete.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/tables/table-basic.css}" rel="stylesheet" type="text/css" />
    <style type="text/css">
    
	   .lds-facebook {
		  display: inline-block;
		  position: relative;
		  width: 80px;
		  height: 80px;
		 
		}
		.lds-facebook div {
		  display: inline-block;
		  position: absolute;
		  left: 8px;
		  width: 16px;
		  background: #cef;
		  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
		}
		.lds-facebook div:nth-child(1) {
		  left: 8px;
		  animation-delay: -0.24s;
		}
		.lds-facebook div:nth-child(2) {
		  left: 32px;
		  animation-delay: -0.12s;
		}
		.lds-facebook div:nth-child(3) {
		  left: 56px;
		  animation-delay: 0;
		}
		@keyframes lds-facebook {
		  0% {
		    top: 8px;
		    height: 64px;
		  }
		  50%, 100% {
		    top: 24px;
		    height: 32px;
		  }
		}
		    
    </style>
</head>
<body class="sidebar-noneoverflow">
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top" style="background-color:#c63a37">
       <th:block th:replace="view/private/layout/header :: header"></th:block>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <th:block th:replace="view/private/layout/navigation :: navigation"></th:block>
        
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing" >

                <div class="row layout-top-spacing">

					<div class="col-lg-12 layout-spacing">
					    <div class="statbox widget box box-shadow">
					        <div id="accordionBasic" class="widget-header">
					            <div class="row">
					                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
					                    <h4>DASHBOARD</h4>
					                </div>
					                <div class="row col-xl-12 col-md-12 col-sm-12 col-12">
					                	<div class="col-3">
											<p>Estudio de linea base</p>
											<select class="form-control form-control-sm" id="cat_1_preg_encuesta" >
												 <option value="1">Estudio LB</option>
					                             <!-- <option value="2">2022</option> -->
					                             <option value="2">2023</option>
					                             <option value="3">2024</option>
					                             <option value="4">2025</option>
					                             <option value="5">2026</option>
					                             <option value="6">2027</option>
											</select>
										</div>
					                    <div class="col-3">
											<p>Comunidad</p>
											<select class="form-control form-control-sm" id="cat_1_preg_comunidad" onchange="comunidad()">
												<option value="0">Todas</option>
											 	<option value="2">La Encañada</option>
												<option value="1">Michiquillay</option>
											</select>
										</div>
										
										
										<div class="col-3">
											<p>Sector/Anexo</p>
											<select class="form-control form-control-sm" id="cat_1_preg_sector">
												<option value="0">Todas</option>
											</select>
										
										</div>
										
					                </div>
					            
					            	 <div class="col-xl-3 col-md-3 col-sm-3 col-3">
					            	 	<div id="treeviewAnimated" class="col-lg-12 layout-spacing">
				                            <div class="statbox  box box-shadow">
				                                <div class="widget-header">
				                                    <div class="row">
				                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
				                                            <h4>Indice</h4>
				                                        </div>
				                                    </div>
				                                </div>                            
				                                <div class="widget-content">
				                                    <ul class="file-tree">
				                                        <li class="file-tree-folder">Aspectos sociales
				                                            <ul>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(1)">Demografía</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(2)">Vivienda</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(3)">Educación</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(4)">Salud</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(5)">Desarrollo humano</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(6)">Grupos vulnerables</li>
				                                            </ul>
				                                        </li>
				                                        <li class="file-tree-folder ">Aspectos Economicos
				                                            <ul >
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(7)">Agricultura</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(8)">Ganaderia</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(9)">Artesania</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(10)">Otras Actividades</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(11)">Dinamicas económicas</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(12)">Ingresos</li>
				                                                <li style="cursor:pointer" onclick="cargarGraficoTree(13)">Empleos</li>
				                                            </ul>                                            
				                                        </li>
				                                        <li class="file-tree-folder " style="cursor:pointer" onclick="cargarGraficoTree(14)">Adulto mayor </li>
				                                        <li class="file-tree-folder " style="cursor:pointer" onclick="cargarGraficoTree(15)">Empresas locales </li>
				                                        <li class="file-tree-folder " style="cursor:pointer" onclick="cargarGraficoTree(16)">Perspectivas y <br> expectativas </li>
				                                    </ul>
				
				                                  
				
				                                </div>
				                            </div>
				                        </div>
					            	 </div>
					            	 
					            	 
									 
					            	 
					            	 <div class="col-xl-9 col-md-9 col-sm-9 col-9">
					            	 	 <br>
					            	 	 <div style="text-align: center;display:none" id="carga" >
						            	 	<div class="lds-facebook" ><div></div><div></div><div></div><b>Cargando</b></div>
						            	 </div>
						            	 
						            	 <div th:replace="view/private/home/newCargarGrafico :: new_fragment_carga_grafico"></div> 
						             </div>
						             
						             
						             
						             
						             <div class="modal fade" id="modalAgregarGrafico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							           <div class="modal-dialog" role="document">
							               <div class="modal-content">
							                   <div class="modal-header">
							                       <h5 class="modal-title" id="exampleModalLabel">Búsqueda de la pregunta</h5>
							                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							                         <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
							                       </button>
							                   </div>
							                   <div class="modal-body">
												  <div class="form-group">
							                       	
							                       	 <input type="text" id="id_pregunta" style="display:none">
							                         <input type="text" id="pregunta" class="form-control form-control-sm"  placeholder="Pregunta">
							                       </div>
							                       
							                       <button type="button" class="btn mt-2 mb-2 btn-block" style="background-color:#c63a37;color:white;" onclick="buscarGrafico()" >Agregar gráfico</button>
							                                     	
							                   </div>
							                   
							               </div>
							           </div>
							       </div>
					            </div>
					        </div> 
					        
					      
					    </div>
					</div>
					
					
                </div>
    

            </div>
            
            <th:block th:replace="view/private/layout/footer :: footer"></th:block>
            
        </div>
        <!--  END CONTENT AREA  -->
		
    </div>
    <!-- END MAIN CONTAINER -->

   <th:block th:replace="view/private/layout/scripts :: javascript" ></th:block>
   	<script th:src="@{/plugins/apex/apexcharts.min.js}"></script>
	<script th:src="@{/plugins/apex/custom-apexcharts.js}"></script>
   	<script th:src="@{/plugins/treeview/custom-jstree.js}"></script>
	<script th:src="@{/assets/js/dashboard/dash_1.js}"></script>
	<script th:src="@{/plugins/autocomplete/jquery.autocomplete.js}"></script>
    <script th:src="@{/plugins/sweetalerts/sweetalert2.min.js}"></script>
    <script th:src="@{/plugins/sweetalerts/custom-sweetalert.js}"></script>
    <script type="text/javascript" th:src="@{/script/newGraphs.js}"></script>
     <script th:inline="javascript">
	
    
     
	var lista_s = [[${preguntas}]];
	
	var countriesArray = $.map(lista_s, function (value, key) { return { value: value, data: key }; });
	console.log(countriesArray);
	$( "#pregunta" ).autocomplete({
		 lookup:countriesArray,
		 showNoSuggestionNotice: true,
		 noSuggestionNotice: 'Lo sentimos, no hay resultados coincidentes',
		 onSelect: function (suggestion) {
			$("#id_pregunta").val(suggestion.data);
			
        },
	})
	</script>
	<script type="text/javascript">
		
	var pueblo = [[${pueblo}]];
	
	$("#cat_1_preg_comunidad").val(pueblo);
	comunidad();
	
	function comunidad(){
		
		console.log($("#cat_1_preg_comunidad").val());
		console.log($("#cat_1_preg_sector").val());
		if($("#cat_1_preg_comunidad").val()=="0"){
			$("#cat_1_preg_sector").empty();
			$("#cat_1_preg_sector").append('<option value="0">Todas</option>');
		}
		else if($("#cat_1_preg_comunidad").val()=="2"){
			$("#cat_1_preg_sector").empty();
			$("#cat_1_preg_sector").append(''+
					'<option value="0">Todas</option>'+
					'<option value="1">La Encañada - Rodacocha</option>'+
					'<option value="2">La Encañada - Sogoron alto</option>'+
					'<option value="3">La Encañada - Rio grande</option>'+
					'<option value="4">La Encañada - Pedregal</option>'+
					'<option value="5">La Encañada - Chamcas</option>'+
					'')	;
		}
		else if($("#cat_1_preg_comunidad").val()=="1"){
			$("#cat_1_preg_sector").empty();
			$("#cat_1_preg_sector").append(''+
					'<option value="0">Todas</option>'+
					'<option value="1">Michiquillay - Pampa Grande</option>'+
					'<option value="2">Michiquillay - Quinuayoc</option>'+
					'<option value="3">Michiquillay - Progreso la toma</option>'+
					'<option value="4">Michiquillay - Quinuamayo alto</option>'+
					'<option value="5">Michiquillay - Tuyupampa</option>'+
					'<option value="6">Michiquillay - Quinuamayo bajo</option>'+
					'<option value="7">Michiquillay - Usnio</option>'+
					'<option value="8">Michiquillay - Palpata</option>'+
					'<option value="9">Michiquillay - Chimchim</option>'+
					'<option value="10">Michiquillay - Punre</option>'+
					'<option value="11">Michiquillay - Michiquillay</option>'+
					'');
		}
		
	}

	function cargarGraficoTree(x){
		var comunidad=$("#cat_1_preg_comunidad").val();
		var sector=$("#cat_1_preg_sector").val();
		var idencuesta=$("#cat_1_preg_encuesta").val();
		
		var url="/graficoController/newActualizarGraficos";
		url=url+"?comunidad="+comunidad+"&sector="+sector+"&idEncuesta="+idencuesta+"&indice="+x;
		
		$("#new_fragment_todo_grafico").load(url,function(){})
				
		
	}
	
	</script>

    
</body>
</html>