<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title >Usuarios</title>
    
    <th:block th:replace="view/private/layout/style :: style"  ></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/table/datatable/datatables.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/table/datatable/dt-global_style.css}">
    
    <script th:src="@{/plugins/sweetalerts/promise-polyfill.js}"></script>
    <link th:href="@{/plugins/sweetalerts/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/sweetalerts/sweetalert.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/components/custom-sweetalert.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/elements/alert.css}">
    
</head>
<body class="sidebar-noneoverflow">
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
       <th:block th:replace="view/private/layout/header :: header"></th:block>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <th:block th:replace="view/private/layout/navigation :: navigation"></th:block>
        
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing" >

                <div class="row layout-top-spacing" id="cancel-row">
                	
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                    <button class="btn  mb-2" onclick="agregarUsuario()" style="background-color:#0096a9;color:white;">Agregar</button>
                        <div class="widget-content widget-content-area br-6">
                            <table id="tablaUsuario" class="table dt-table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Genero</th>
                                        <th>Username</th>
                                        <th>Roles</th>
                                        <th class="no-content">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
	                                   
                                </tbody>
                                
                            </table>
                        </div>
                    </div>

                </div>
				
				<th:block th:replace="view/private/layout/footer :: footer"></th:block>
            </div>
            
            
            
            <div class="modal fade login-modal" id="modalUsuario"  tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                 <div class="modal-content">

                   <div class="modal-header" id="loginModalLabel">
                     <h4 class="modal-title" id="modal_titulo">Agregar Usuario</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                     </button>
                   </div>
                   <div class="modal-body">
                     <p style="color:black">Datos del Usuario</p>
                    
                    	<input id="usuario_idUsuario" style="display:none">
                    	
	                       <div class="form-group">
	                         <input type="text" class="form-control form-control-sm"  placeholder="Nombre" id="usuario_nombre" maxlength="50">
	                       </div>
                       
	                     <div class="form-row ">  
	                       <div class="form-group col-6">
	                         <input type=text class="form-control form-control-sm" placeholder="A. Paterno" style="padding-left:15px" id="usuario_aPaterno" maxlength="50">
	                       </div>
	                       
	                        <div class="form-group col-6">
	                         <input type=text class="form-control form-control-sm" placeholder="A. Materno" style="padding-left:15px" id="usuario_aMaterno" maxlength="50">
	                       </div>
	                     </div>
	                     
	                     <div class="form-row " style="height:25px;">
	                       <div class="form-group col-6"><p>Genero</p> </div>
	                       <div class="form-group col-6"><p>F. Nacimiento</p> </div>
	                     </div>
	                     <div class="form-row ">
	                       <div class="form-group col-6">
	                         <select class="form-control form-control-sm" id="usuario_sexo">
                                 <option value="0">Masculino</option>
                                 <option value="1">Femenino</option>
                             </select>
	                       </div>
	                        <div class="form-group col-6">
	                         <input type=date class="form-control form-control-sm"  id ="usuario_nacimiento" placeholder="F. Nacimiento" style="padding-left:0px;padding-right:0px">
	                       </div>
	                     </div>
	                     <br/>
                     	<p style="color:black">Datos del usuario</p>            
	                        <div class="form-group">
		                         <input type="text" class="form-control form-control-sm"  placeholder="Username" id="usuario_username">
		                     </div>
		                     <div class="form-group">
		                     <div class="alert alert-light-danger border-0 mb-4" role="alert" id="mensaje_contrasenia">Si quiere mantener la contraseña no escriba</div>
		                         <input type="password" class="form-control form-control-sm"  placeholder="Contrasenia" id="usuario_contrasenia">
		                     </div>
		                     <div class="form-row " style="height:25px;">
		                       <div class="form-group col-12"><p>Permisos</p> </div>
		                     </div>
		                      <div class="">
                                   <div class="custom-control custom-checkbox mb-4">
                                       <input type="checkbox" name="permisos" class="custom-control-input" id="admin" value="1">
                                       <label class="custom-control-label" for="admin">Administrador</label>
                                   </div>
                               </div>
                               <div class="">
                                   <div class="custom-control custom-checkbox mb-4">
                                       <input type="checkbox" name="permisos" class="custom-control-input" id="supervisor" value="2">
                                       <label class="custom-control-label" for="supervisor">Supervisor</label>
                                   </div>
                               </div>
                               <div class="">
                                   <div class="custom-control custom-checkbox mb-4">
                                       <input type="checkbox" name="permisos" class="custom-control-input" id="encuestador" value="3">
                                       <label class="custom-control-label" for="encuestador">Encuestador</label>
                                   </div>
                               </div>
		                     <button type="button" class="btn mt-2 mb-2 btn-block" style="background-color:#c63a37;color:white;"  id="btn_modal_usuario">Aperturar </button>
	                     </div>
                    
                       
                       
                     
                   </div>
                 
                 </div>
               </div>
             </div>
            
            
            
            
        </div>
        <!--  END CONTENT AREA  -->


    </div>
    <!-- END MAIN CONTAINER -->

   <th:block th:replace="view/private/layout/scripts :: javascript" ></th:block>
 	<script th:src="@{/plugins/table/datatable/datatables.js}"></script>
 	<script th:inline="javascript">
 		
 	var lista = [[${lista}]];
 	
 	for(var i = 0; i < lista.length; i++) {
 		$("#tablaUsuario").append(''+
 			'<tr>'+
 			    '<td id="'+i+'_tabla_nombre"></td>'+
 			    '<td id="'+i+'_tabla_genero"></td>'+
 			    '<td id="'+i+'_tabla_username"></td>'+
 			    '<td id="'+i+'_tabla_permisos"></td>'+
 			   '<td class="text-center">'+
			    '<ul class="table-controls">'+
			        '<li><a onclick="editarUsuario('+lista[i][0]+')" href="javascript:void(0);"  data-toggle="tooltip" data-placement="top" title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></li>'+
			        '<li><a onclick="eliminarUsuario('+lista[i][0]+')" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a></li>'+
			    '</ul>'+
			'</td>'+
 			'</tr>'+
 				'');
 		
 		$("#"+i+"_tabla_nombre").text(lista[i][1]);
 		$("#"+i+"_tabla_genero").text((lista[i][2])==0?'Masculino':'Femenino');
 		$("#"+i+"_tabla_username").text(lista[i][3]);
 		$("#"+i+"_tabla_permisos").text(lista[i][4]);
	}
 	
 	console.log(lista);
 	 $('#tablaUsuario').DataTable({
         "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
     "<'table-responsive'tr>" +
     "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
         "oLanguage": {
             "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
             "sInfo": "Mostrando pagina _PAGE_ de _PAGES_",
             "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
             "sSearchPlaceholder": "Buscar...",
            "sLengthMenu": "Resultados :  _MENU_",
         },
         "stripeClasses": [],
         "lengthMenu": [7, 10, 20, 50],
         "pageLength": 7 
     });
 	 
 	</script>
 	<script type="text/javascript" th:src="@{/script/user.js}"></script>
 	<script th:src="@{/plugins/sweetalerts/sweetalert2.min.js}"></script>
    <script th:src="@{/plugins/sweetalerts/custom-sweetalert.js}"></script>
</body>
</html>